<div class="row g-4">
    <div class="col-sm-12 col-md-6 my-3">
      <div class="card cardHome">
        <div class="card-body">
          <h4 class="card-title text-center">Clienti</h4>
          <button class="btn" [routerLink]="['/users']" routerLinkActive="router-link-active" ><i class="bi bi-person-lines-fill"></i></button>
        </div>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 my-3">
      <div class="card cardHome">
        <div class="card-body">
          <h4 class="card-title text-center">Fatture</h4>
          <button class="btn" [routerLink]="['/fatture']" routerLinkActive="router-link-active" ><i class="bi bi-file-earmark-text-fill"></i></button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 my-3">
      <div class="card cardHome">
        <div class="card-body">
          <h4 class="card-title text-center">Province</h4>
          <button class="btn" [routerLink]="['/province']" routerLinkActive="router-link-active" ><i class="bi bi-building"></i></button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 my-3">
      <div class="card cardHome">
        <div class="card-body">
          <h4 class="card-title text-center">Comuni</h4>
          <button class="btn" [routerLink]="['/comuni']" routerLinkActive="router-link-active" ><i class="bi bi-house"></i></button>
        </div>
      </div>
    </div>
  </div>